.Destinasi-wrap {
    display: flex;
    margin-top: 1%; /* Mengurangi margin top */
  }
  
  .container-destinasi {
    flex: 1;
    padding: 10px; /* Mengurangi padding */
    border-radius: 6px; /* Mengurangi border radius */
  }
  
  .button-tambah-destinasi {
    padding: 8px 16px; /* Mengurangi padding */
    font-size: 14px; /* Mengurangi ukuran font */
    border-radius: 3px; /* Mengurangi border radius */
    margin-left: 83.7%;
  }
  
  .table-destinasi-content {
    margin-top: 16px; /* Mengurangi margin top */
  }
  
  .table-destinasi-content table {
    width: 70%;
    border-collapse: collapse;
    margin-left: 25%;
  }
  
  .table-destinasi-content th,
  .table-destinasi-content td {
    padding: 8px; /* Mengurangi padding */
    border: 1px solid #ccc;
    font-size: 14px; /* Mengurangi ukuran font */
  }
  
  .table-destinasi-content th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
